<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div id="alert" class="bg-green-100 border border-green-400 text-green-700 px-3 py-2 rounded relative text-center" role="alert">
    <strong class="font-bold">Log Masuk Berjaya!</strong>
    
    <span class="absolute top-0 bottom-0 right-0 px-3 py-2" onclick="document.getElementById('alert').style.display='none';">
      <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.59 7.41L13.17 6l-4 4-4-4-1.41 1.41L8.59 11.41l-4 4 1.41 1.41L10 12.83l4 4 1.41-1.41-4-4z"/></svg>
    </span>
  </div>
    Homepage

</H1>
<body class = text-center>
  <div>
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>

  </div>
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</body>

<div>
   
</div>
</html>